{% extends "base.html" %}
{% block Title %}
    Articles
{% endblock Title %}

{% block FeaturedArticles %}
    <div class = "container" id = "mainImage">
        <div class="carousel slide" data-ride="carousel" data-interval = "2000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">  
                    <a href= "{% url 'ArticleDetail' front_featured_article.slug %}">
                      <img src= {{front_featured_article.featured_image.url}} alt={{front_featured_article.title}} class = "img-responsive" id = "mainImageImage">
                    </a>
                </div>
                {% for singleArticle in featured_articles  %}
                    <div class="carousel-item">
                        <a href= "{% url 'ArticleDetail' singleArticle.slug %}">
                          <img src={{singleArticle.featured_image.url}} alt={{singleArticle.title}} class = "img-responsive" id = "mainImageImage">
                        </a>
                    </div>
                {% endfor featured_articles %}
            </div> <!-- carousel-innter -->

        </div> <!-- carousel slide -->
    </div>

{% endblock FeaturedArticles %}


{% block ArticleList %}
    {% for singleArticle in articles  %}
       <li><a href= "{% url 'ArticleDetail' singleArticle.slug %}">{{singleArticle.title}}</a></li>
    {% endfor %}

    <a href= "{% url 'AddArticle' %}">Add Article</a>
    <a href = "{% url 'AddCategory' %}">Add Category</a>
{% endblock ArticleList %}

