{% extends "base.html" %}
{% block Title %}
    Articles
{% endblock Title %}

{% block FeaturedArticles %}
    <div class = "container" id = "mainImage">
        <div class="carousel slide" data-ride="carousel" data-interval = "2000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">  
                    <a href= "{% url 'ArticleDetail' front_featured_article.slug %}">
                      <img src= {{front_featured_article.featured_image.url}} alt={{front_featured_article.title}} class = "img-responsive" id = "mainImageImage">
                    </a>
                </div>
                {% for singleArticle in featured_articles  %}
                    <div class="carousel-item">
                        <a href= "{% url 'ArticleDetail' singleArticle.slug %}">
                          <img src={{singleArticle.featured_image.url}} alt={{singleArticle.title}} class = "img-responsive" id = "mainImageImage">
                        </a>
                    </div>
                {% endfor featured_articles %}
            </div> <!-- carousel-innter -->

        </div> <!-- carousel slide -->
    </div>

{% endblock FeaturedArticles %}


{% block ArticleList %}
    <div class = "container" id = "articleSection">
        <div class = "row">
            {% for singleArticle in articles  %}
                <div class = "col-lg-3 col-md-6 mb-4">
                    <div class = "singleArticle" data-target = "blogpostBody">
                        <a href= "{% url 'ArticleDetail' singleArticle.slug %}" class = "articleLink">
                            <div class = "articleImage">
                               <img src= {{singleArticle.featured_image.url}} class = "img-responsive">
                            </div> <!-- articleImage -->

                            <div class = "articleHeading">
                                <h3>{{singleArticle.title}}</h3>
                            </div> <!-- articleHeading -->

                            <div class = "articleDetails">
                                <div class = "eta">
                                    {{singleArticle.time_read}} min read
                                </div>

                                <div class = "author">
                                    <h4>Nischal Shrestha</h4>
                                </div>

                                <div class = "timeSince">
                                    <h4>{{singleArticle.published_on|timesince}} ago</h4>
                                </div>
                            </div> <!-- articleDetails -->
                        </a>
                    </div> <!-- singleArticle -->
                </div> <!-- col -->
            {% endfor %}
        </row>
    </div> <!-- container -->

    <a href= "{% url 'AddArticle' %}">Add Article</a>
    <a href = "{% url 'AddCategory' %}">Add Category</a>
{% endblock ArticleList %}

