{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block Title %}
    New Article
{% endblock Title %}

{% block NavigationMenu %}
    {% include "includes/tabs.html" with active_tab='Articles' %}
{% endblock NavigationMenu %}


{% block my_content %}

    <div class="container" id = "modelForm">
        <div class="row">
            <div class="col-md-6">
                <form method = 'POST' action = '.' enctype="multipart/form-data">
                    {% crispy form %}{% csrf_token %}
                    <button type = 'submit'>Add</button>        
                </form>
            </div>
        </div>
    </div>
    
{% endblock my_content %}