{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block Title %}
    Update 
{% endblock Title %}

{% block NavigationMenu %}
    {% include "includes/tabs.html" with active_tab='Articles' %}
{% endblock NavigationMenu %}

{% block UpdateArticle %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method = "POST" action = '.' enctype="multipart/form-data">
                    {% crispy form%} {% csrf_token %}
                    <button type = 'submit'>Update</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock UpdateArticle %}