{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block Title %}{% endblock Title %}| Nischal</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  
    <link href = "{% static 'css/navigation.css' %}" rel = "stylesheet" type = "text/css">
   <link href = "{% static 'css/main.css' %}" rel = "stylesheet" type = "text/css">
</head>
<body>
    <div class="container" id="banner">
                <a href = "./index.html">
                    <img src = "{% static 'img/brand.png' %}">
                </a>
        </div> <!-- banner -->

 {% include "navigation.html" %}

    {% block ArticleList %}    {% endblock ArticleList %}

    {% block SingleArticle %}   {% endblock SingleArticle %}
    
    {% block NewArticle %}
        
    {% endblock NewArticle %}

    {% block NewCategory %}
        
    {% endblock NewCategory %}

    {% block UpdateArticle %}
        
    {% endblock UpdateArticle %}

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>