{% load static %}

<div class = "container"> <!-- To Fix Footer -->

<div class = "container" id = "myFooter">
        <div class = "row">

            <div class = "col-lg-3 col-md-3" id = "footer-information">
                <p>Hey there, I'm <strong>Nischal</strong>.</br>
                I am a student, a developer and I specializ in
                standards-based Django, JS, HTML, CSS web development.
                </br>
                </br>

                I love Everything that makes me more Human. While
                not Coding, I play and/or watch football. 




                     </p>
                <p>Copyright text 2018 by Nischal!!</p>
                <a href = "{% url 'ArticleList' %}">
                    <img src = "{% static 'img/brand.png' %}" class = "img-responsive" style="background: white;" alt= "Logo of Nischal Lal Shrestha">
                </a>
            </div>

            <div class = "col-lg-3 col-md-3" id = "footer-menu">
                <ul class="pages">
                    <li><a href="{% url 'ArticleList' %}">Articles</a></li>
                    <li><a href="{% url 'PhotoList' %}">Photos</a></li>
                    <li><a href="{% url 'WorkList' %}">My Works</a></li>
                    <li><a href="{% url 'EventList' %}">Life</a></li>
                    <li><a href="{% url 'Contact' %}">Contact/Hire</a></li>
                </ul>

                <ul class="list">
                    <li><a href="{% url 'Terms' %}">Terms &amp; Condition</a></li>
                    <li><a href="{% url 'Privacy' %}">Privacy Policy</a></li>
                </ul>
            </div>

            <div class = "col-lg-3 col-md-3" id = "social-section">
                <h4 class = "social-links-heading">Follow Me</h4>
                <ul class = "social-links">
                    <li><a href = "https://www.facebook.com/theonlyNischal">
                        <span class = "fa fa-facebook fa-2x"></span>
                        </a></li>
                    <li><a href = "https://www.twitter.com/theonlyNischal">
                        <span class = "fa fa-twitter fa-2x"></span>
                        </a></li>
                    <li><a href = "https://www.github.com/NischalLalShrestha">
                        <span class = "fa fa-github fa-2x"></span>
                        </a>
                    </li>
                    <li> <a href = "https://www.linkedin.com/in/theonlyNischal/">
                        <span class = "fa fa-linkedin fa-2x"></span>
                        </a></li>
                    
                </ul>
            </div>

            <div class = "col-lg-3 col-md-3" id = "newsletter-section">
                <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins. Then What Alarms The Penguins. Subscribe Me To Find Out.</p>
                <p> 
                    <form method = "POST" action = "{% url 'AddToSubscribersList' %}">
                    {% csrf_token %}
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Enter Your Favourite e-mail"  name = "SubscriberEmail">
                    </div><!-- /input-group -->
                    <br />
                    <button id = "NewsletterSubmit" class = "btn btn-primary">Submit</button>
                    </form>
                 </p>
            </div>
        

        </div> <!-- row -->
</div> <!-- container myFooter -->
</div>