body {
 
 font-family: 'Barlow', sans-serif;


}

.mBuffer{
  margin-top: 20px;
}

#banner.container{
    margin-top: 20px;
    margin-bottom: 20px;
}

h4#searchResultCount{
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Barlow', sans-serif;
}

.successText{
    margin-top: 20px;
}

#modelForm{
    margin-top: 20px;
    margin-bottom: 10px;
}


@media (min-width: 992px) { /* For Big Screen */

.mainImageImage{
    height: 450px;
  }

#activeMenu{
    box-shadow: 0 -4px #ffb900;
    background-color: white;
}

}
